<a href="https://colab.research.google.com/github/merve-karagoz/ml_projects/blob/main/veri_bilimi_%C3%B6rnekleri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops and Range Örnekleri**

1) Bir while döngüsü kullanarak ilk on doğal sayıyı yazdırın.

In [1]:
x = 1
while x <= 10:
  print(x)
  x = x + 1

1
2
3
4
5
6
7
8
9
10

2) Aşağıdaki listeyi yineleyin ve öğeleri yazdırın:

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for list in list1:
  print(list)

12
15
32
42
55
75
122
132
150
180
200

3) Kullanıcıdan bir n sayısı alın ve çarpım tablosunu yazdırın:

In [2]:
n = int(input())

for j in range(n):
    print(" - " * 20)
    print(j, " 'ler ")
    
    print(" - " * 20)
    for k in range(1,11):
        print(j, "x", k, " = ", j * k)

5
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
0  'ler
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
0 x 1  =  0
0 x 2  =  0
0 x 3  =  0
0 x 4  =  0
0 x 5  =  0
0 x 6  =  0
0 x 7  =  0
0 x 8  =  0
0 x 9  =  0
0 x 10  =  0
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
1  'ler
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
1 x 1  =  1
1 x 2  =  2
1 x 3  =  3
1 x 4  =  4
1 x 5  =  5
1 x 6  =  6
1 x 7  =  7
1 x 8  =  8
1 x 9  =  9
1 x 10  =  10
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
2  'ler
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
3  'ler
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
4  'ler
 -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40

4) Bu listenin öğelerini dizinlerle birlikte yazdırmak için numaralandırma işlevini kullanın:

grocery = ['bread', 'milk', 'butter']

In [ ]:
# enumerate function, bir listenin öğeleri üzerinde yinelenir ve bunlarla bir dizin ilişkilendirir.
grocery = ['bread', 'milk', 'butter']
for index, i in enumerate(grocery):
    print("index " + str(index) + " : " + str(i))

index 0 : bread
index 1 : milk
index 2 : butter

5) Kullanıcıdan bir n sayısı alın ve 1 ile n arasındaki tüm sayıların toplamını bulun.

In [10]:
n2 = int(input())
total = 0
for i in range(total, n2):
  total += i
  print(total)

5
0
1
3
6
10

6) 3'ten 5'e kadar bir sayı dizisi oluşturun ve dizideki her öğeyi yazdırın.

In [ ]:
for j in range(3, 5):
  print(j, end=', ')

3, 4,


7) 3'ten 19'a kadar bir sayı dizisi oluşturun, ancak 1 yerine 2 artırın.

In [ ]:
for i in range(3, 19):
  i += 2
  print(i, end=', ')

5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

8) "Python" dizisinin harflerini aynı satıra yazdırın:

- Basit bir for döngüsü kullanma

- range function kullanma

In [12]:
for i in "Python":
  print(i, end=', ')

P, y, t, h, o, n,

In [16]:
for x in [0,5,1]:
    print(x)

0
5
1